@keyframes popup-enter {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup-exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.popup {
  animation: popup-enter 0.3s ease-out;
}

.noScrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.noScrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
