.container {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.sidebar {
  height: 100%;
  transition: width 0.3s ease;
}

.contentContainer {
  height: 100%;
  width: 100%;
}
.searchBar {
  margin-left: 5rem;
  height: 100vh;
  position: fixed;
  width: 28rem;
  position: fixed;
  z-index: 9;
  color: black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid var(--grey-color3);
  background-color: #fff;
  visibility: hidden;
  transform: translateX(-100%);
  opacity: 0;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}
.hide {
  visibility: hidden;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.searchBar.visible {
  visibility: visible;
  animation: slideIn 0.3s forwards;
}

.searchBar.hidden {
  visibility: hidden;
  animation: slideOut 0.3s forwards;
}
