.container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.sidebar {
    height: 100%;
    transition: width 0.3s ease;
}

.content {
    margin-left: 5rem;
    padding: 1rem;
    transition: width 0.3s ease;
    flex-grow: 1;
    overflow-x: hidden;
    height: 100vh;
    overflow-y:visible;
}
.open {
    margin-left: 17rem;
    transition: 0.3s ease;
}

.searchBar {
    margin-left: 5rem;
    height: 100vh;
    position: fixed;
    width: 28rem;
    position: absolute;
    z-index: 9;
    color: black;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid var(--grey-color3);
    background-color: #fff;
}
.hide {
    visibility: hidden;
}