.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 100px;
  margin-left: 300px;
  overflow-y: auto;
}

.content {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(320px, 320px));
  column-gap: 4px;
  row-gap: 4px;
}
