.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.avatar_wrapper {
  height: 64px;
  width: 64px;
  border-radius: 50%; /* Bo tròn viền */
  display: flex;
  align-items: center;
  justify-content: center;
}

.seen_story {
  background-color: black;
}

.not_seen_story {
  background-image: linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7);
}

.wrapper {
  padding: 2px;
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.imageUser {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}
